---
layout: base.njk
---
{%- from "partials/macros.njk" import photo -%}
{%- set t = ui[lang] -%}
<article>
  <header class="page-entete">
    <div class="conteneur conteneur--etroit">
      <h1>{{ titre }}</h1>
      {% if chapo %}<p class="grand-texte">{{ chapo }}</p>{% endif %}
    </div>
  </header>
  {% if image %}<div class="conteneur conteneur--etroit">{{ photo(image, titre, "", "page-photo") }}</div>{% endif %}
  <div class="conteneur conteneur--etroit prose">
    {{ content | safe }}
    {% if page.fileSlug == "contact" %}{% include "partials/formulaire.njk" %}{% endif %}
  </div>
  {% if page.fileSlug == "qui-sommes-nous" %}
    {% if bureau.membres.length %}{% include "partials/bureau.njk" %}{% endif %}
    <div class="conteneur conteneur--etroit bloc--bas">{% include "partials/documents-raccourci.njk" %}</div>
  {% endif %}
</article>
