---
layout: base.njk
pagination:
  data: langues
  size: 1
  alias: lang
permalink: "{{ '/actions/' if lang == 'fr' else '/rc/actions/' }}"
eleventyComputed:
  titre: "{{ ui[lang].menu_actions }}"
  chapo: "{{ ui[lang].actions_chapo }}"
---
{%- from "partials/macros.njk" import photo -%}
{%- set t = ui[lang] -%}
{%- set les_actions = collections.actions_rc if lang == 'rc' else collections.actions -%}
<header class="page-entete">
  <div class="conteneur">
    <h1>{{ t.menu_actions }}</h1>
    <p class="grand-texte">{{ t.actions_chapo }}</p>
  </div>
</header>
<div class="conteneur bloc--bas">
  <div class="grille grille--3">
    {% for a in les_actions %}
    <a class="carte carte--action {% if a.data.phare %}carte--action-phare{% endif %}" href="{{ a.url }}">
      {{ photo(a.data.image, a.data.image_alt, t.photo_a_ajouter, "carte__photo") }}
      <div class="carte--action__texte">
        {% if a.data.phare %}<span class="badge">{{ t.projet_phare }}</span>{% endif %}
        <h3>{{ a.data.titre }}</h3>
        <p>{{ a.data.resume }}</p>
        <span class="lien">{{ t.en_savoir_plus }}</span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
