<a class="raccourci" href="{{ '/documents/' | lien(lang) }}">
  <span class="raccourci__icone" aria-hidden="true"><svg width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><path d="M14 3H7a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8z"/><path d="M14 3v5h5"/><path d="M9 13h6M9 17h4"/></svg></span>
  <span class="raccourci__texte">
    <span class="raccourci__titre">{{ t.docs_raccourci_titre }}</span>
    <span class="raccourci__desc">{{ t.docs_raccourci_texte }}</span>
  </span>
  <span class="raccourci__action">{{ t.docs_raccourci_bouton }}</span>
</a>
